/*-- =========================================== --*/
/*--                Image & Title                --*/
/*-- =========================================== --*/
@media only screen and (min-width: 0px) {
        #ramen {
            padding: var(--sectionpadding);
        }
        .container {
            padding: 0;
        }
}

/*-- =========================================== --*/
/*--                 Ingredients                 --*/
/*-- =========================================== --*/
@media only screen and (min-width: 0px) {
        #ingredients {
            padding: var(--sectionpadding);
        }
        .container {
            padding: 0.5rem 0;
        }
}

/*-- =========================================== --*/
/*--                    Steps                    --*/
/*-- =========================================== --*/
@media only screen and (min-width: 0px) {
        #steps {
            padding: var(--sectionpadding);
        }
        .container {
            padding: 0.5rem 0;
        }
}

/*-- =========================================== --*/
/*--                    Buttons                  --*/
/*-- =========================================== --*/
@media only screen and (min-width: 0px) {
        #buttons {
            padding: var(--sectionpadding);
        }
        .button-box {
            padding: 0.5rem 0;
        }
}
   
