/*-- -------------------------- -->
<---        Core Styles         -->
<--- -------------------------- -*/

/* Base Template */
@media only screen and (min-width: 0px) {
    :root {
        --primary: #FDD65B;
        --secondary: ##D54215; 
        --titlecolor: rgb(0, 0, 0);
        --subtitlecolor: rgb(151, 151, 151);
        --text: rgb(0, 0, 0); 
        --buttonbackground: #1D816D; 
        --whitetext: rgb(255, 255, 255);
        /* 13px - 16px */
        --topperfontsize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerfontsize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyfontSize: clamp(1.3rem, 3.5vw, 1.3rem);
        /* 60px - 100px top and bottom */
        --sectionpadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }
    body {
        /* prevents padding and border from affecting height and width */
        box-sizing: border-box;
        background-color: var(--primary); 
    }
    .title {
        padding: 0;
        color: var(--titlecolor); 
    }
    .sub-title {
        padding: 0;
        color: var(--subtitlecolor)
    }
    .text { 
        padding: 0;
        color: var(--text)
    }
    .container {
        padding: 0;
    }
    .list {
        padding: 0;
    }
    .button-box {
        padding: 0;
    }
}

/* Reset Margins */
@media only screen and (min-width: 1024px) {
  body,
  html {
    margin: 0;
    padding: 0;
  }
}

/* Scale full website with the viewport width */
@media only screen and (min-width: 3000px) {
  body,
  html {
    font-size: 0.55vw;
  }
}

/*-- =========================================== --*/
/*--                Image & Title                --*/
/*-- =========================================== --*/
@media only screen and (min-width: 0px) {
        #main {
            padding: var(--sectionpadding);
            border: 10px red solid;
            display: grid;
            grid-template-rows: 0.5fr 2fr 0.5fr;
            justify-items: center;

        }
        .container {
            max-width: clamp(25rem, 20vw, 50rem);
            padding: 0;
            background-color: var(--primary);
        }
}

/*-- =========================================== --*/
/*--                 Ingredients                 --*/
/*-- =========================================== --*/
@media only screen and (min-width: 0px) {
        #ingredients {
            padding: var(--sectionpadding);
        }
        .container {
            padding: 0;
        }
}

/*-- =========================================== --*/
/*--                    Steps                    --*/
/*-- =========================================== --*/
@media only screen and (min-width: 0px) {
        #steps {
            padding: var(--sectionpadding);
        }
        .container {
            padding: 0.5rem 0;
        }
}

/*-- =========================================== --*/
/*--                    Footer                   --*/
/*-- =========================================== --*/
@media only screen and (min-width: 0px) {
        #footer {
            padding: var(--sectionpadding);
        }
        .button-box {
            padding: 0.5rem 0;
        }
}
