@media only screen and (min-width: 0px) {
    :root {
        --primary: lightyellow;
        --secondary: darkgreen; 
        --text: black; 
        --whitetext: white;
        --titlecolor: black;
        /* 13px - 16px */
        --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
        /* 31px - 49px */
        --headerfontsize: clamp(1.9375rem, 3.9vw, 3.0625rem);
        --bodyfontSize: clamp(1.3rem, 3.5vw, 1.3rem);
        /* 60px - 100px top and bottom */
        --sectionpadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
    }
    :root .title {
        position: relative;
        max-width: 43rem;
        font-size: var(--headerfontsize);
        line-height: 1.2em;
        color: var(--titlecolor);
        text-align: inherit;
    }
}